<!DOCTYPE html>
<html>
    <head>
        <title>Aprendiendo Vue JS</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <style>
            .fondo-cool{
                background-color: #8099;
                color: aliceblue;
            }
        </style>
    </head>
    <body>
        <div class="fondo-cool">
            <h1>Aprendiendo Vue JS</h1>
        </div>
        <div id="root">
            <p>{{ mensaje }}</p>
            <p>Si tan solo <span v-if="estado">Angular</span> fuera tan fácil.</p>
            <ol>
                <li v-for="lenguaje in lenguajes">
                  {{ lenguaje.texto }}
                </li>
              </ol>
              <p>{{ titulo }}</p>
              <button v-on:click="mayuscula">Convertir a mayúscula</button>
              <button v-on:click="minuscula">Convertir a minúscula</button>
              <p>Lista de números</p>
              <ul>
                <li v-for="num in numeros">
                    {{ num }}
                </li>
              </ul>
              <button v-on:click="anadir">Agregar</button>
              <button v-on:click="quitar">Quitar</button>
              <div>
                  <p>No. pulsaciones: {{ pulsacion }}, Frecuencia cardíaca: {{ getPulsaciones(pulsacion) }}</p>
                <input v-model="pulsacion" maxlength="3" type="number" placeholder="Número de pulsaciones"/>
              </div>
              
              <p>Número: <span>{{ contador }}</span></p>
              <button v-on:click="()=> contador++">Incrementar</button>
              <button v-on:click="alerta">Saludar</button>
        </div>
        <script>
            const numeros = [1,2,3,4];
            const MAX = 220;
            var app = new Vue({
                el:"#root",
                data:{
                    mensaje:"Desarrollando como un FullStack.",
                    titulo:"vue js como si estuviera en primero.",
                    estado:true,
                    numero: numeros.length,
                    numeros: numeros,
                    contador: 0,
                    pulsacion:0,
                    lenguajes: [
                        {texto:"Python"},
                        {texto:"Java"},
                        {texto:"C#"},
                        {texto:"Kotlin"}
                    ]
                },
                methods:{
                    mayuscula: function(){
                        this.titulo = this.titulo.toUpperCase();
                    },
                    minuscula: function(){
                        this.titulo = this.titulo.toLowerCase();
                    },
                    anadir:function(){
                        this.numeros.push(++this.numero)
                    },
                    quitar:function(){
                        this.numeros.pop()
                    },
                    getPulsaciones:function(pulsa){
                        return (MAX-pulsa) 
                    },
                    alerta:function(){
                        alert("Hola, mundo en Vue JS")
                    }
                }
            });
        </script>
</body>
</html>