<template>
<div class="fondo-morado">
    <h1>Mi componente Vue JS</h1>
</div>
</template>
<script>
export default{
    nombre: "MyComponente",
    data(){
    }
}
</script>

<style>
.fondo-morado{
    background-color: #8000FF;
}

.fondo-morado h1{
    color: #E0F8EC;
}

</style>