<template>
  <div id="App">
  <img alt="Vue logo" src="./assets/logo.png">
  <HelloWorld msg="Auditor"/>
  <MyComponente/>
  </div>

</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import MyComponente from './components/MyComponente.vue'

export default {
  name: 'App',
  components: {
    HelloWorld, MyComponente
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
