<!DOCTYPE html>
 <html lang="es">
 <head>
  <meta charset="utf-8"> 
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>VueJS::Bootstrap</title>
  <!-- Vue JS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<style type="text/css">
.class0 {
	background-color: #33FFAA;
	color: #2288CC;
}
</style>
<body>
    <!-- jQuery first, then Popper.js, then Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 -->

	<h1>Vue JS</h1>
	<div id="contenedor">
<div id="calculador">
<label>Calculadora de I.M.C.</label>
<table style="width: 334px;">
<tbody>
<tr>
<td style="width: 59px;">Peso</td>
<td style="width: 32px;"><input id="" type="number" v-model="newEntry.peso"/></td>
<td style="width: 104px;"></td>

</tr>
<tr>
<td style="width: 59px;">Talla</td>
<td style="width: 32px;"><input type="number" v-model="newEntry.talla" /></td>
<td style="width: 104px;"><button @click="calcular()" type="button" class="btn btn-primary">Obtener</button></td>
</tr>
</tbody>
</table>
  <label @click="limpiar()">{{newEntry.resultado}}</label>
</div>
  <script>
  	var app = new Vue({
  		el: '#calculador',
  		  data: { 
        newEntry: {
          peso: 0,
          talla: 0,
          resultado:''
        },
      },methods:{
        calcular(){
          console.log('Entramos a función calcular()')
          if(this.newEntry.peso == 0){
            this.newEntry.resultado='Falta peso';
          }else if(this.newEntry.talla == 0){
            this.newEntry.resultado='Falta talla';
          }else{
            var imc = this.newEntry.peso/(this.newEntry.talla*this.newEntry.talla);
            this.newEntry.resultado='El I.M.C. obtenido es: '+imc+", veredicto: ";

            // Validaciones
            console.log('Validaciones de IMC')

            if(imc<16.00){
                this.newEntry.resultado+="Infrapeso: Delgadez Severa";
            }else if(imc<=16.00 || imc<=16.99){
                this.newEntry.resultado+="Infrapeso: Delgadez moderada";
            }else if(imc<=17.00 ||imc<=18.49){
                this.newEntry.resultado+="Infrapeso: Delgadez aceptable";
            }else if(imc<=18.50 || imc<=24.99){
                this.newEntry.resultado+="Peso Normal";
            }else if(imc<=25.00 || imc<=29.99){
                this.newEntry.resultado+="Sobrepeso";
            }else if(imc<=30.00 || imc<=34.99){
                this.newEntry.resultado+="Obeso: Tipo I";
            }else if(imc<=35.00 || imc==40.00){
                this.newEntry.resultado+="Obeso: Tipo III";
            }else{
                this.newEntry.resultado+="no existe clasificacion";
            }



            
          }

        },limpiar(){
          this.newEntry.resultado='';
          this.newEntry.peso=0;
          this.newEntry.talla=0;
        }
       }
  		});
</script>
</div>
</body>
</html>